*.toc
*.log
*.aux
*.pdf
*.ods

*.tcp
*.tps
*.bbl
*.blg
/exercise2/BayesianNetwork/.settings/
/exercise2/BayesianNetwork/target/
/exercise2/BayesianNetwork/.classpath
/exercise2/BayesianNetwork/.project
